@import 'css/settings';

.c-checkbox {
  &.custom-checkbox {
    .custom-control-label {
      font-family: $font-family-2;
      @include font-size($font-size-xxs);
      line-height: $font-size-base * $line-height-base;

      &::before {
        border-radius: 0;
      }
    }
  }

  &.-label-left {
    text-align: right;
    padding-left: 0;
    padding-right: $custom-control-gutter + $custom-control-indicator-size;

    input {
      left: auto;
      right: 0;
    }

    .custom-control-label {
      &::before {
        left: auto;
        right: -($custom-control-gutter + $custom-control-indicator-size);
      }

      &::after {
        left: auto;
        right: -($custom-control-gutter + $custom-control-indicator-size);
      }
    }
  }
}
