@import 'css/settings';

.c-header {
  position: relative;
  padding: map-get($spacers, 3) 0;

  @include media-breakpoint-up(md, $grid-breakpoints) {
    padding: map-get($spacers, 5) 0;
  }

  &.-minimal {
    padding: map-get($spacers, 3) map-get($spacers, 3);

    @include media-breakpoint-up(md, $grid-breakpoints) {
      padding: map-get($spacers, 4) map-get($spacers, 4);
    }

    .navbar {
      .navbar-brand {
        z-index: 1;
      }

      .c-icon {
        width: rem(95);
        height: rem(35);
        fill: $white;
        stroke: $white;
      }
    }
  }

  .navbar {
    position: relative;

    .c-icon {
      display: inline-block;
      width: rem(115);
      height: rem(40);
      fill: #8f3721;
      stroke: #8f3721;
    }
  }
}
