body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

.btn {
  text-transform: uppercase;
  letter-spacing: rem(2);

  &.btn-fixed-width {
    min-width: rem(190);
  }

  &.btn-secondary {
    color: $body-color;

    &:not(:disabled):not(.disabled):active {
      color: $body-color;
    }
  }

  &.btn-outline-secondary:not(:hover) {
    color: $white;
  }
}
