body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

.btn {
  text-transform: uppercase;

  &.btn-fixed-width {
    min-width: rem(190);
  }

  &.btn-outline-secondary {
    color: $white;
  }
}
