@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'functions';

// Colors

$primary: #1a203c;
$secondary: #fdddba;
$light: #f2f3ef;

$text-color-1: $primary;
$text-color-2: $secondary;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'light': $light,
);

$border-color-1: #d8d8d8;

// Body

$body-bg: $light;
$body-color: $text-color-1;

$background-color-1: #f1b62f;

// Typography

$font-family-1: 'Crimson Text', serif;
$font-family-2: 'Roboto Mono', sans-serif;

$font-family-base: $font-family-1;

$font-size-xxxl: rem(98);
$font-size-xxl: rem(52);
$font-size-xl: rem(44);
$font-size-l: rem(24);
$font-size-base: rem(18);
$font-size-s: rem(16);
$font-size-xs: rem(13);
$font-size-xxs: rem(12);
$font-size-xxxs: rem(10);

$font-weight-medium: 500; // Only for Roboto Mono

$mark-padding: 0 0.2rem;
$mark-bg: #fac080;

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1040px,
);

// Box shadows

$box-shadow-1: rem(2) rem(2) 0 0 $primary;
$box-shadow-2: rem(1) rem(1) rem(10) 0 rgba($black, 0.2);
$box-shadow-3: 0 0 0 $input-btn-focus-width rgba($primary, 0.25);

// Buttons

$btn-font-family: $font-family-2;
$btn-font-size: $font-size-xs;
$btn-font-weight: $font-weight-medium;

$btn-padding-y: rem(17);
$btn-padding-x: rem(17);

$btn-border-radius: 0;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-width: rem(2);

// Controls

$custom-control-gutter: map-get($spacers, 3);
$custom-control-indicator-bg: transparent;
$custom-control-indicator-checked-disabled-bg: rgba($primary, 0.25);
$custom-control-indicator-checked-bg: $primary;
$custom-control-indicator-checked-border-color: $primary;
$custom-control-indicator-border-color: $primary;
$custom-control-indicator-active-bg: lighten($primary, 60%);
$custom-control-indicator-active-border-color: $custom-control-indicator-border-color;
$custom-control-indicator-focus-box-shadow: $box-shadow-3;
$custom-control-indicator-focus-border-color: lighten($primary, 25%);

$custom-switch-width: rem(36);

$custom-select-height: rem(22);
$custom-select-border-width: rem(1);
$custom-select-border-radius: 0;
$custom-select-bg: transparent;
$custom-select-indicator-padding: map-get($spacers, 4);
$custom-select-font-family: $font-family-2;
$custom-select-font-size: $font-size-xxs;
$custom-select-font-weight: $font-weight-bold;
$custom-select-padding-x: map-get($spacers, 1);
$custom-select-padding-y: 0;
$custom-select-border-color: $primary;
$custom-select-focus-border-color: $custom-select-border-color;
$custom-select-focus-box-shadow: $box-shadow-3;

// Options

$enable-responsive-font-sizes: true;
