@import 'css/settings';

.c-areas-interest-ranking {
  .ranking {
    margin: 0 #{-1 * map-get($spacers, 3)};
    padding: 0 map-get($spacers, 3);

    .row {
      padding: map-get($spacers, 1) 0;

      > div:first-of-type {
        display: flex;
        align-items: center;

        .rank {
          flex-shrink: 0;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: rem(25);
          height: rem(25);
          margin-right: map-get($spacers, 2);
          background-color: #ffc112;
          border: rem(2) solid $primary;
          border-radius: 100%;
          vertical-align: middle;
          font-family: $font-family-2;
          @include font-size($font-size-xxs);
          font-weight: $font-weight-medium;
        }

        .btn-link {
          padding: 0;
          font-family: $font-family-1;
          @include font-size($font-size-base);
          letter-spacing: initial;
          text-align: left;
          text-transform: none;
          text-decoration: underline;
          color: $text-color-1;
          border: 0;

          &[disabled] {
            text-decoration: none;
          }
        }
      }

      > div:last-of-type {
        font-family: $font-family-2;
        @include font-size($font-size-xxs);
      }
    }

    .control-buttons {
      display: flex;
      justify-content: center;
      margin: map-get($spacers, 3) auto 0;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(25);
        height: rem(25);
        padding: 0;
        border-radius: 100%;

        &:first-of-type {
          .c-icon {
            top: rem(-1);
            transform: rotate(180deg);
          }
        }

        &:last-of-type {
          margin-left: map-get($spacers, 2);
        }

        .c-icon {
          position: relative;
          top: rem(1);
          width: rem(10);
          height: rem(10);

          use {
            fill: currentColor;
          }
        }
      }
    }

    .c-select {
      .c-select-menu__single-value {
        text-align: center;
      }
    }
  }
}
