@import 'css/settings';

.c-explore-map-container {
  width: 100%;
  height: 100%;

  &-tooltip {
    max-width: rem(350);
    font-family: $font-family-2;
    @include font-size($font-size-xxs);
    font-weight: $font-weight-medium;
    text-align: center;
  }
}
