@import 'css/settings';

.p-home-intro {
  position: relative;
  background-image: url('/images/home-intro-background.png');
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  padding-top: rem(200);

  p {
    font-family: $font-family-3;
    font-size: rem(19);
  }

  .intro-title {
    margin-bottom: rem(200);

    p {
      line-height: rem(35);
    }

    h1 {
      font-size: rem(98);
      line-height: rem(96);
      font-weight: normal;
      padding: rem(40) 0;
    }
  }

  .intro-description {
    color: $white;
    padding-bottom: rem(200);

    .lead-text {
      color: $white;
      font-family: $font-family-1;
      font-size: rem(52);
      line-height: rem(64);
      font-weight: normal;
    }

    p {
      line-height: rem(33);
      padding-top: rem(20); //to avoid unevenness of line height
    }
  }
}
