
@import 'css/settings';

.c-button {
  font-family: $font-family-2;
  font-weight: $font-weight-medium;
  font-size: rem(13);
  letter-spacing: rem(2);
  line-height: rem(18);
  text-align: center;
  box-sizing: border-box;
  padding: rem(20);
  min-width: rem(186);
  background: transparent;

  // ** MODIFIERS ** //

  // Theme

  &.-primary {
    color: $white;
    border: rem(1) solid $color-2;
    background-color: $color-1;
  }

  &.-secondary {
    color: $color-1;
    background-color: $color-2;
    border: none;
  }

  // Shape

  &.-rounded {
    border-radius: 50%;
  }

  // Size

  &.-big {
    padding: rem(20);
  }
}
