@import 'css/settings';

.c-switch {
  input:not(:checked) + .custom-control-label:before {
    background-color: transparent;
  }

  &.custom-switch {
    .custom-control-input:checked ~ .custom-control-label:after {
      background-color: $white;
    }

    .custom-control-label {
      font-family: $font-family-2;
      @include font-size($font-size-xxs);
      line-height: $font-size-base * $line-height-base;

      &:after {
        background-color: $primary;
      }
    }
  }

  &.custom-switch.-label-left {
    padding-left: 0;
    padding-right: $custom-switch-width + $custom-control-gutter;

    .custom-control-label {
      &:before {
        left: auto;
        right: -($custom-switch-width + $custom-control-gutter);
      }

      &:after {
        left: auto;
        right: add(
          -($custom-switch-width + $custom-control-gutter),
          $custom-control-indicator-border-width * 2
        );
        transform: translateX($custom-control-indicator-size - $custom-switch-width);
      }
    }

    .custom-control-input:checked ~ .custom-control-label {
      &::after {
        transform: none;
      }
    }
  }
}
