@import 'css/settings';

.p-home-challenge {
  position: relative;
  background-image: url('/images/home-challenge-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: rem(200);
  color: $white;
  padding-bottom: rem(150);
  border-top: rem(3) solid $white;

  .lead-text {
    padding-top: rem(20);
    color: $white;
    font-family: $font-family-1;
    font-size: rem(52);
    line-height: rem(64);
    font-weight: $font-weight-regular;
  }

  .description {
    padding-right: rem(50);
  }

  .contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .c-icon {
      display: block;
    }
  }
}
