@import 'css/settings';

.c-explore-info-modal {
  max-width: rem(850);
  @include font-size($font-size-s);

  @include media-breakpoint-up(lg, $grid-breakpoints) {
    padding: rem(50) rem(100);
  }

  .content {
    width: 100%;
  }

  h1 {
    @include font-size($font-size-xxl);
    text-align: center;
  }

  h2 {
    margin-bottom: 0;
    padding-top: rem(5);
    font-family: $font-family-2;
    @include font-size($font-size-xxs);
  }

  h3 {
    @include font-size($font-size-base);
  }

  ul {
    padding-left: 2ch;

    li > p {
      margin-bottom: 0;
    }
  }

  .info-modal-tabs {
    > .react-tabs__tab-list {
      display: flex;
      justify-content: flex-start;
      margin: map-get($spacers, 5) 0 map-get($spacers, 3);
      padding: 0;
      list-style: none;

      > .react-tabs__tab {
        padding: map-get($spacers, 1);
        font-family: $font-family-2;
        @include font-size($font-size-xs);
        text-transform: uppercase;
        border-bottom: rem(4) solid transparent;
        cursor: pointer;

        &--selected {
          border-bottom-color: $primary;
        }

        & + .react-tabs__tab {
          margin-left: map-get($spacers, 4);
        }
      }
    }
  }

  .intro {
    @include font-size($font-size-base);
  }
}
