@import 'css/settings';

$background-height: 100vw * #{124 / 1204};

.c-homepage-section-4 {
  position: relative;
  margin-top: calc(#{$background-height});
  padding: rem(50) 0;
  background-color: #742b19;
  color: $text-color-2;

  @include media-breakpoint-up(md, $grid-breakpoints) {
    padding: rem(40) 0 rem(90);
  }

  &:before {
    display: block;
    position: absolute;
    top: calc(-1 * #{$background-height});
    left: 0;
    width: 100%;
    height: calc(#{$background-height});
    background-color: #7a2f1c;
    background-image: url("data:image/svg+xml,%3Csvg width='1204' height='124' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 123.08l1204 .002v-63c-51.837-31.225-90.335-48.832-115.496-52.821-121.124-19.204-221.077 5.158-288.876 10.49-295.35 23.228-536.945 0-712.404 0-32.948 0-62.022.246-87.224.739v104.59z' fill='%23742B19' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: calc(100% + #{rem(1)}) auto; // We need to add 1px for subpixel rendering
    background-position: bottom rem(-1) left; // We need to add 1px for subpixel rendering
    background-repeat: no-repeat;
    content: '';
  }

  .intro {
    @include font-size($font-size-xl);
    line-height: 1.25;

    mark {
      color: #742b19;
    }
  }

  .image {
    position: relative;
    height: 50vw;

    @include media-breakpoint-up(sm, $grid-breakpoints) {
      height: rem(290);
    }

    @include media-breakpoint-up(md, $grid-breakpoints) {
      height: rem(240);
    }

    @include media-breakpoint-up(lg, $grid-breakpoints) {
      height: calc(#{rem(370)} - 1vw);
    }

    img {
      position: absolute;
      top: 0;
      left: #{$grid-gutter-width / 2};
      display: block;
      max-width: calc(100% - #{$grid-gutter-width});
      z-index: 1; // Needs to be on top of the next section
    }
  }
}
