@import 'css/settings';

.c-home-map {
  display: flex;
  justify-content: center;
  padding-top: rem(80);
  color: $color-cream-1;
  background: url('/images/home-map-background.png') no-repeat center / cover;

  .map-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: rem(40);
    padding: rem(20);
    max-width: rem(550);
    background-color: rgba($color-1, 0.8);

    @supports (backdrop-filter: blur(rem(15))) {
      background-color: rgba($color-1, 0.3);
      backdrop-filter: blur(rem(15));
    }

    h3 {
      font-size: rem(52);
      line-height: rem(64);
      font-weight: normal;
      vertical-align: bottom;
    }

    .section-description {
      margin-top: rem(20);
      color: $color-cream-1;
      line-height: 1.4;
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: rem(50);

      .c-button {
        margin-bottom: rem(20);
      }
    }
  }
}
