@import 'css/settings';

.c-foot-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  font-family: $font-family-3;
  font-weight: $font-weight-medium;
  font-size: rem(12);
  letter-spacing: rem(3);
  line-height: rem(28);
  padding: rem(20);
  width: 100%;

  .page-number {
    box-sizing: border-box;
    padding: 0 rem(5);
    width: rem(30);
    height: rem(30);
    border: rem(2) solid $white;
    height: 100%;
  }
}
