@import 'css/settings';

$basemap-preview-width: rem(90);
$basemap-preview-height: rem(50);

.c-map-controls-settings {
  width: rem(215);

  section {
    position: relative;
    padding: map-get($spacers, 3) 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;

      &:after {
        content: none;
      }
    }

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: -#{map-get($spacers, 3)};
      width: calc(100% + #{2 * map-get($spacers, 3)});
      height: rem(1);
      background: rgba($black, 0.1);
      content: '';
    }

    h3 {
      margin-bottom: map-get($spacers, 3);
      @include font-size($font-size-base);
    }
  }

  .map-styles {
    margin-bottom: -#{map-get($spacers, 3)};

    & > div {
      &:nth-of-type(2n + 1) {
        margin-right: map-get($spacers, 3);
      }
    }

    input:checked + label:after {
      border-color: $primary;
    }

    label {
      position: relative;
      display: block;
      margin-bottom: map-get($spacers, 3);
      font-family: $font-family-2;
      @include font-size($font-size-xxs);
      background-size: 0;
      white-space: nowrap; // Needed for the landsat label

      &:before {
        display: block;
        width: $basemap-preview-width;
        height: $basemap-preview-height;
        margin-bottom: map-get($spacers, 2);
        background-color: rgba($primary, 0.25);
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
      }

      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: $basemap-preview-width;
        height: $basemap-preview-height;
        border: rem(4) solid transparent;
        content: '';
      }
    }

    .c-dropdown {
      .target-button {
        margin-right: 0;
        border-bottom: 0;
        font-weight: initial;

        &:after {
          position: static;
          display: inline-block;
          margin-left: 0.5ch;
          transform: scale(0.8) rotate(-135deg);
        }
      }

      .menu {
        top: 0;
      }
    }
  }
}
