@import 'css/settings';

.c-explore-layers-tab {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: rem(820);
  height: rem(580);
  padding: map-get($spacers, 2) map-get($spacers, 3);

  .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: map-get($spacers, 3);
    right: 0;
    width: rem(40);
    height: rem(40);
    padding: 0;
    border-radius: 100%;
    transform: translateX(50%);
    background: $body-bg;
    z-index: 1; // Needed to be on top of the preview

    .c-icon {
      width: rem(10);
      height: rem(10);

      use {
        fill: currentColor;
      }
    }

    @include hover() {
      background: $primary;
    }
  }

  h3 {
    @include font-size($font-size-l);
  }

  .sidebar {
    flex-basis: calc(50% - #{map-get($spacers, 3) / 2});
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    > * {
      flex-shrink: 0;
    }

    .c-accordion {
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 -#{map-get($spacers, 3)} 0 -#{2 * map-get($spacers, 3)};
      padding: 0 map-get($spacers, 3) 0 #{2 * map-get($spacers, 3)};
      overflow: auto;

      .group-title {
        @include font-size($font-size-base);
      }
    }

    .layer-row {
      margin: 0 -#{map-get($spacers, 3)} 0 -#{2 * map-get($spacers, 3)};
      padding: #{map-get($spacers, 1) / 2} 0 #{map-get($spacers, 1) / 2} #{map-get($spacers, 3)};

      &.-highlighted {
        background-color: $background-color-1;
      }

      .btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        font-family: $font-family-2;
        @include font-size($font-size-xxs);
        text-transform: none;
        letter-spacing: initial;

        .c-icon {
          margin-right: 1ch;
        }
      }
    }
  }

  .preview {
    position: relative;
    width: calc(50% + #{2 * map-get($spacers, 3)} - #{map-get($spacers, 3) / 2});
    flex-shrink: 0;
    margin: -#{map-get($spacers, 3) + map-get($spacers, 2)} -#{2 * map-get($spacers, 3)} -#{map-get(
        $spacers,
        3
      ) + map-get($spacers, 2)} 0;

    h3 {
      display: inline-block;
      position: absolute;
      top: 2 * map-get($spacers, 2);
      left: map-get($spacers, 2);
      padding: map-get($spacers, 1) map-get($spacers, 2);
      @include font-size($font-size-base);
      background-color: $body-bg;
      z-index: 1; // Needed to be on top of the map
    }

    .c-map {
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .c-layers-tab-description {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-bottom: #{map-get($spacers, 2) + map-get($spacers, 3)};
    }
  }
}
