@import 'css/settings';

.c-footer {
  color: $white;

  li {
    padding: 40px;
    display: flex;
    max-width: 250px;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  h2 {

    font-size: 52px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: normal;
  }

  a {
    color: $white;
    font-family: $font-family-2;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 18px;
    text-align: center;
  }
}
