@import 'css/settings';

.c-areas-interest-tab-analysis {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - #{map-get($spacers, 3) + rem(125)});
  margin: #{-1 * map-get($spacers, 3)}; // This is needed so the separators take the full width
  padding: map-get($spacers, 3);
  overflow: hidden;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-size: $font-size-l;
    }

    .btn {
      padding: 0;
      border-radius: 100%;
    }

    .c-icon {
      display: block;
      width: rem(20);
      height: rem(20);
    }

    .c-switch {
      label {
        text-transform: uppercase;
      }
    }

    .c-hint-button {
      .c-icon {
        width: rem(16);
        height: rem(16);
      }
    }
  }

  section {
    position: relative;
    padding: map-get($spacers, 4) 0;

    &:last-of-type:after {
      content: none;
    }

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: -#{map-get($spacers, 3)};
      width: calc(100% + #{2 * map-get($spacers, 3)});
      height: rem(1);
      background-color: $border-color-1;
      content: '';
    }
  }

  .static-container {
    flex-shrink: 0;
    position: relative;
    padding-bottom: map-get($spacers, 4);

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: -#{map-get($spacers, 3)};
      width: calc(100% + #{2 * map-get($spacers, 3)});
      height: rem(1);
      background-color: $border-color-1;
      content: '';
    }
  }

  .scrollable-container {
    flex-grow: 1;
    overflow-y: auto;
    margin: 0 #{-1 * map-get($spacers, 3)}; // This is needed so the separators take the full width
    padding: 0 map-get($spacers, 3);
  }

  .soc-stock-switcher {
    display: flex;
    padding: 0;
    border: rem(1) solid $primary;

    .c-radio {
      flex-grow: 1;
      min-height: auto;
      margin: rem(1);
      padding: 0 map-get($spacers, 3);
      font-family: $font-family-2;
      @include font-size($font-size-xs);
      color: $body-color;
      text-transform: uppercase;
      text-align: center;
      line-height: $line-height-base;
      cursor: pointer;

      &.-checked {
        color: $white;
        background-color: $primary;
      }

      input {
        @include sr-only();
      }

      label {
        cursor: pointer;

        &:before,
        &:after {
          content: none;
        }
      }
    }
  }

  .chart-intro {
    margin: map-get($spacers, 2) 0 map-get($spacers, 4);
    font-family: $font-family-2;
    @include font-size($font-size-s);

    .c-dropdown {
      .target-button {
        font-size: inherit;
      }
    }
  }

  .recharts-responsive-container {
    font-family: $font-family-2;
    overflow: hidden; // Prevent the tooltip from temporarily add scroll

    .recharts-yAxis {
      .recharts-text {
        @include font-size($font-size-xxxs);
        fill: $primary;
      }

      .recharts-label {
        @include font-size($font-size-xxs);
        fill: $primary;
      }
    }

    .recharts-xAxis {
      .recharts-cartesian-axis-line {
        stroke-width: rem(2);
        stroke: $primary;
      }

      .recharts-cartesian-axis-tick-line {
        stroke: $primary;
      }

      .recharts-text {
        @include font-size($font-size-xxs);
        fill: $primary;
      }

      .recharts-legend {
        @include font-size($font-size-xxs);
        fill: $primary;

        rect.background {
          fill: #dddedb;
        }

        line {
          stroke-width: rem(2);
          stroke: #8f3721;
        }
      }
    }

    .recharts-cartesian-grid,
    .recharts-reference-line,
    .recharts-tooltip-cursor:not(.recharts-rectangle) {
      stroke: rgba($primary, 0.2);
    }

    .recharts-tooltip-cursor.recharts-rectangle {
      fill: rgba($primary, 0.1) !important;
    }

    .recharts-line {
      path {
        stroke-width: rem(2);
        stroke: #8f3721;
      }
    }

    .recharts-active-dot {
      circle {
        stroke: $body-bg;
        fill: #8f3721;
      }
    }
  }

  .recharts-default-tooltip {
    padding: map-get($spacers, 2) !important;
    font-family: $font-family-2;
    @include font-size($font-size-xxs);
    border: rem(1) solid $primary !important;
    background: $body-bg !important;
    box-shadow: $box-shadow-1;

    .recharts-tooltip-item {
      padding: 0 !important;
      color: $body-color !important;
      font-weight: $font-weight-medium;
    }
  }
}
