@import 'css/settings';

.p-home {
  section {
    padding: rem(50) 0;

    @include media-breakpoint-up(md, $grid-breakpoints) {
      padding: rem(100) 0;
    }

    .section-title {
      font-family: $font-family-2;
      @include font-size($font-size-s);
      color: $white;

      @include media-breakpoint-up(md, $grid-breakpoints) {
        display: none;
      }
    }

    .section-description {
      display: inline-block;
      margin-top: map-get($spacers, 1);
      margin-bottom: map-get($spacers, 5);
      padding-top: map-get($spacers, 1);
      border-top: rem(1) solid rgba($white, 0.2);
      font-family: $font-family-2;
      @include font-size($font-size-xxs);
      color: $text-color-2;

      @include media-breakpoint-up(md, $grid-breakpoints) {
        display: none;
      }
    }
  }
}
