@import 'css/settings';

.c-info-button {
  width: rem(16);
  height: rem(16);
  padding: 0;
  border: 0;
  vertical-align: middle;

  .c-icon {
    display: block;
    width: 100%;
    height: 100%;

    use {
      fill: currentColor;
    }
  }

  .tippy-popper &-tooltip.tippy-tooltip.light-theme {
    min-width: rem(240);
    padding: map-get($spacers, 2);
    font-family: $font-family-1;
    @include font-size($font-size-s);
    font-weight: initial;
    line-height: 1.25;
  }
}
