@import 'css/settings';

.c-map-legend-soc-stock {
  .type-tabs {
    // The 4px are needed to remove an unwanted margin at the top of the element
    // Source: https://css-tricks.com/fighting-the-space-between-inline-block-elements/#article-header-id-1
    margin-top: #{map-get($spacers, 4) - rem(4)};

    > .react-tabs__tab-list {
      display: inline-flex;
      margin: 0 0 map-get($spacers, 3);
      padding: 0;
      list-style: none;
      border: rem(1) solid $primary;

      > .react-tabs__tab {
        margin: rem(1);
        padding: 0 map-get($spacers, 3);
        font-family: $font-family-2;
        @include font-size($font-size-xs);
        color: $body-color;
        text-transform: uppercase;
        cursor: pointer;

        &--selected {
          color: $white;
          background-color: $primary;
        }
      }
    }
  }

  .gradient-container {
    display: flex;

    .vizzuality__c-legend-item-types {
      margin-top: 0 !important;
      flex-grow: 1;
    }

    .c-map-legend-gradient-bar {
      flex-grow: 1;
    }

    .unit {
      flex-shrink: 0;
      position: relative;
      top: -#{rem(3)};
      margin-left: map-get($spacers, 1);
      font-family: $font-family-2;
      @include font-size($font-size-xxs);
    }
  }

  .mode-tabs {
    position: relative;
    margin-top: map-get($spacers, 3);

    &:before {
      display: block;
      position: absolute;
      top: -#{rem(1)};
      left: -#{rem(30)};
      width: calc(100% + #{rem(30) + map-get($spacers, 3)});
      height: rem(1);
      background-color: $border-color-1;
      content: '';
    }

    .react-tabs__tab-list {
      display: flex;
      align-items: flex-end;
      margin: 0;
      padding: 0;
      list-style: none;

      .depth-dropdown {
        flex-grow: 1;
        padding-bottom: rem(5); // Needed to align with the bottom of the tabs
        text-align: right;
        font-family: $font-family-2;
        @include font-size($font-size-xxs);

        label {
          margin: 0;
        }
      }
    }

    .react-tabs__tab {
      margin-right: map-get($spacers, 3);
      padding: map-get($spacers, 1) 0;
      border-top: rem(2) solid transparent;
      color: rgba($body-color, 0.5);
      cursor: pointer;

      &--selected {
        border-top-color: $primary;
        color: $body-color;
      }
    }

    .react-tabs__tab-panel {
      &--selected {
        display: flex;
        align-items: center;
        height: rem(50);
        padding-top: map-get($spacers, 3);
      }

      .c-radio {
        padding-left: map-get($spacers, 4);

        label {
          &:before,
          &:after {
            left: -#{map-get($spacers, 4)};
          }
        }
      }

      .select {
        font-family: $font-family-2;
        @include font-size($font-size-xxs);

        label {
          margin: 0;
        }

        .scenario-select {
          .c-select-menu__menu {
            min-width: rem(395);
          }
        }
      }
    }
  }
}
