@import 'css/settings';

$background-height: 100vw * #{236 / 1204};

.c-homepage-section-5 {
  position: relative;
  margin-top: calc(#{$background-height});
  padding: rem(50) 0;
  background-color: #6d2917;
  color: $text-color-2;

  @include media-breakpoint-up(md, $grid-breakpoints) {
    padding: 0 0 rem(80);
  }

  &:before {
    display: block;
    position: absolute;
    top: calc(-1 * #{$background-height});
    left: 0;
    width: 100%;
    height: calc(#{$background-height});
    background-color: #742b19;
    background-image: url("data:image/svg+xml,%3Csvg width='1204' height='236' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 235.128h1204v-45c-76.988-33.43-132.619-53.479-166.893-60.145-82.204-15.988-275.56 1.86-379.653 0-213.602-3.818-320.39-79.99-451.383-91.988C118.743 29.996 50.052 17.331 0 0v235.128z' fill='%236D2917' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: calc(100% + #{rem(1)}) auto; // We need to add 1px for subpixel rendering
    background-position: bottom rem(-1) left; // We need to add 1px for subpixel rendering
    background-repeat: no-repeat;
    content: '';
  }

  .intro {
    @include font-size($font-size-xl);
    line-height: 1.25;

    mark {
      color: #6d2917;
    }
  }
}
