@import 'css/settings';

$background-height: 100vw * #{139 / 1204};
$depth-visualization-offset: rem(100);

.c-homepage-section-2 {
  position: relative;
  padding: rem(50) 0;
  background-color: #87341e;
  color: $text-color-2;

  @include media-breakpoint-up(md, $grid-breakpoints) {
    // Hack for the depth visualization so it seems contained in the section
    margin-top: #{-1 * $depth-visualization-offset};
    padding: rem(110) 0 rem(50);
  }

  &:before {
    display: block;
    position: absolute;
    top: calc(-1 * #{$background-height});
    left: 0;
    width: 100%;
    height: calc(#{$background-height});
    background-image: url("data:image/svg+xml,%3Csvg width='1204' height='139' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 118.919h51.914c13.982 0 73.484 7.158 89.881 0 16.397-7.159 45.826-25.298 94.444-16.38 48.619 8.918 50.556 2.43 95.008 11.961 44.451 9.531 39.166 1.356 105.819 1.356s59.833 3.883 132.366-13.317c72.532-17.2 123.226-73.828 211.004-84.96C868.214 6.444 887.908 0 953.742 0c65.833 0 120.976 1.758 165.99 24.61 45.014 22.851 65.2 42.187 83.769 54.492l.499 59.817H0v-20z' fill='%2387341E' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: calc(100% + #{rem(2)}) auto; // We need to add 1px for subpixel rendering
    background-position: bottom rem(-1) left; // We need to add 1px for subpixel rendering
    background-repeat: no-repeat;
    content: '';
  }

  .intro {
    @include font-size($font-size-xxl);
    line-height: 1.2;
  }

  .visualization {
    display: inline-block;
    max-width: rem(547);

    text {
      font-family: $font-family-2;
      @include font-size($font-size-xs);
      font-weight: $font-weight-medium;
      fill: $text-color-2;
    }

    path {
      stroke: $text-color-2;
    }
  }
}
