@import 'css/settings';

.c-icon {
  width: rem(22);
  height: rem(22);
  fill: $color-1;


  // Modifiers

  // size

  &.-big {
    width: rem(60);
    height: rem(60);
  }

  // functionality
  // specifc
  &.-logo {
    width: rem(150);
    height: rem(50);
  }


}
